.memes {
    margin: auto;
    width: 500px;
    overflow: hidden;
    height: 500px;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'img img'
    'pag pag'
    'txt txt';
}
.images{
    transition: 1s all;
    display: flex;
    grid-area:img;
    width: 500px;
}
.text{
    display: flex;
    grid-area:txt;
    transition: 1s all;
}
.text>div>p{
    display: inline-block;
    width: 500px;
}
.mem-text{
    width: 100%;
}
.memes>.images>img{
    width: 100%;
    height: 20em;
}
.pagination{
    width: 200px;
    display: flex;
    grid-area:pag;
}
input{
    display: none;
}
label {
    display: block;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    border: 2px solid blue;
    box-sizing: border-box;
}
label:hover{
    background-color: white;
}
input:checked + label {
    background-color: green;
    border: 2px solid;
}
.mem>img{
    grid-area: img;
}
.mem>.mem-text{
    grid-area: text;
}

#memRadio1:checked ~ .images{
    transform: translateX(0px);
}
#memRadio2:checked ~ .images{
    transform: translateX(-500px);
}
#memRadio3:checked ~ .images{
    transform: translateX(-1000px);
}

#memRadio4:checked ~ .images{
    transform: translateX(-1500px);
}

#memRadio1:checked ~ .text{
    transform: translateX(0px);
}
#memRadio2:checked ~ .text{
    transform: translateX(-500px);
}
#memRadio3:checked ~ .text{
    transform: translateX(-1000px);
}

#memRadio4:checked ~ .text{
    transform: translateX(-1500px);
}
